        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-color: black;
        }
        
        .start ul {
            display: flex;
            background-color: lightblue;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            height: 50px;
        }
        
        .circle {
            border-radius: 50%;
            background-color: red;
            height: 30px;
            width: 30px;
        }
        
        li {
            list-style: none;
        }
        
        .end {
            background-color: aquamarine;
            height: 100px;
            font-size: 30px;
            text-align: center;
            margin: 0;
            padding-top: 0;
            border: none;
        }