* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #131921;
}

.left-side {
    display: flex;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-text a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
}

.midle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 900px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}

.drop-list select {
    width: 70px;
    height: 40px;
    color: gray;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
}

.search {
    display: flex;
    align-items: center;
}

.button i {
    font-size: 34px;
    background-color: #F3A847;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin-right: 10px;
}

.navbar a {
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.navbar a:hover {
    border: white 1px solid;
}

.list {
    background-color: #232F3E;
    display: flex;
    align-items: center;
    padding: 10px;
}

p {
    color: white;
    margin-left: 5px;
}

.list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.list-item ul {
    list-style-type: none;
}

.list-item li {
    margin-right: 30px;
}

.list-item a {
    text-decoration: none;
    color: white;
}

.list-item a:hover {
    border: solid 1px white;
}

.menu {
    width: 20px;
    height: 3px;
    background-color: rgb(250, 245, 245);
    margin: 2px 0;
}

.menutab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.main {
    margin: 50px 100px;
    /* border: black solid 1px; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.checkbox .deplist {
    border: black 1px solid;
}

.deplist ul {
    margin-left: 10px;
    list-style-type: none;
}

.left-area {
    flex-basis: 30%;
}

.deplist a {
    color: black;
    text-decoration: none;
}

.deplist a:hover {
    color: #F3A847;
}

.avg div {
    line-height: 0.8;
}

.price ul {
    margin-left: 10px;
    list-style-type: none;
}

.price a {
    color: black;
    text-decoration: none;
}

.price a:hover {
    color: #F3A847;
}

.price input {
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.price button {
    height: 36px;
    width: 40px;
    border-radius: 10px;
    background-color: whites;
}

.box {
    border: black solid 1px;
    height: 500px;
    width: 24%;
}

.text-small {
    color: black;
}

.text-big {
    color: black;
    font-weight: bold;
}

.text-esmall {
    font-size: 13px;
    color: black;
}

.right-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.box3 {
    grid-column: 3/4;
    grid-row: 1/3;
}

.box4 {
    grid-column: 4/5;
    grid-row: 1/3;
}

.box5 {
    grid-column: 1/2;
    grid-row: 3/5;
}

.box6 {
    grid-column: 2/3;
    grid-row: 3/5;
}

.box7 {
    grid-column: 3/4;
    grid-row: 3/5;
}

@media screen and (max-width: 480px) {
    .right-area {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        background-color: yellow;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .right-area {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: blue;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .right-area {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: red;
    }
}